
<section infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [style.height.px]="500"
         style="overflow-y: auto"
         (scrolled)="routesService.loadMore()"
         [scrollWindow]="false">

  <table>
  <thead>
  <tr class="first-tr">
    <th class="table-title" colspan="3">
      <h2>Действующие маршруты ipv4</h2>
    </th>
  </tr>
  <tr>
    <th (click)="sortColumn('address')">
      <div class="header-filter-container">
        <label>Адрес назначения</label>
        @if (routesService.sortField() === 'address') {
          @if (routesService.sortOrder() === 'asc') {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        } @else {
          <mat-icon class="not-active">swap_vert</mat-icon>
        }
      </div>
    </th>
    <th (click)="sortColumn('gateway')">
      <div class="header-filter-container">
        <label>Шлюз</label>
        @if (routesService.sortField() === 'gateway') {
          @if (routesService.sortOrder() === 'asc') {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        } @else {
          <mat-icon class="not-active">swap_vert</mat-icon>
        }
      </div>
    </th>
    <th (click)="sortColumn('interface')">
      <div class="header-filter-container">
        <label>Интерфейс</label>
        @if (routesService.sortField() === 'interface') {
          @if (routesService.sortOrder() === 'asc') {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        } @else {
          <mat-icon class="not-active">swap_vert</mat-icon>
        }
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    @for (route of routesService.displayedRoutes(); track route.uuid) {
      <tr>
        <td>{{ route.address }}/{{ route.mask }}</td>
        <td>{{ route.gateway }}</td>
        <td>{{ route.interface }}</td>
      </tr>
    }
  </tbody>
  </table>
  @if (routesService.visibleCount() < routesService.visibleRoutes()) {
    <div class="loading-indicator">Загрузка...</div>
  }
</section>
