<section infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [style.height.px]="500"
         style="overflow-y: auto"
         (scrolled)="routesService.loadMore()"
         [scrollWindow]="false">
  <table>
  <thead>
  <tr class="first-tr">
    <th class="table-title" colspan="3">
      <h2>Действующие маршруты ipv4</h2>
    </th>
  </tr>
  <tr>
    <ng-template #fieldTable let-column="column" let-label="label">
      <th (click)="sortColumn(column)">
        <div class="header-filter-container">
          <label>{{label}}</label>
          <mat-icon>
            {{ routesService.sortField() === column
            ? (routesService.sortOrder() === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down')
            : 'swap_vert' }}
          </mat-icon>
        </div>
      </th>
    </ng-template>
    <ng-container *ngTemplateOutlet="fieldTable; context: {column: 'address', label: 'Адрес назначения'}"></ng-container>
    <ng-container *ngTemplateOutlet="fieldTable; context: {column: 'gateway', label: 'Шлюз'}"></ng-container>
    <ng-container *ngTemplateOutlet="fieldTable; context: {column: 'interface', label: 'Интерфейс'}"></ng-container>
  </tr>
  </thead>
  <tbody>
    @if (isLoading) {
      <tr>
        <td colspan="3">
          <div class="spinner-container">
            <div class="spinner"></div>
          </div>
        </td>
      </tr>
    }
    @if (!isLoading) {
      @for (route of routesService.displayedRoutes(); track route.uuid) {
        <tr>
          <td>{{ route.address }}/{{ route.mask }}</td>
          <td>{{ route.gateway }}</td>
          <td>{{ route.interface }}</td>
        </tr>
      }
    }
  </tbody>
  </table>

</section>
